.headerTop {
  background: $tcolor;
  padding: 5px 0;

  .navbar {
    padding: 0;

    .headerTopMenu {
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $black;
          }
        }
      }

      .searchForm {
        position: relative;

        .form-control {
          background: #453312;
          border: none;
          color: #fff;
          box-shadow: none;
          border-radius: 50px;
          font-size: 14px;
          line-height: 18px;
          height: auto;
          padding: 5px 15px;
          margin-left: 20px;
        }

        .btnSearch {
          position: absolute;
          right: 0;
          top: 0;
          color: #fff;
          padding: 0;
          width: 40px;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 14px;
          border: none;
          justify-content: center;
        }
      }
    }
  }
}

.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 1100;

  &.fixedMenu {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .navbar {
    padding: 0;

    .logo {
      a {
        img {
          max-width: 110px;
          width: 100%;
        }
      }
    }


    .hamburger {
      padding: 0;
      outline: none;
      outline: none;
      box-shadow: none;
      border: none;

      .bar_icon {
        width: 30px;
        height: 16px;
        position: relative;
        display: inline-block;

        .bar {
          position: absolute;
          width: 100%;
          background: rgb(255, 255, 255);
          height: 2px;
          left: 0;
          transition: all 0.5s;

          &.bar_1 {
            top: 0;
          }

          &.bar_2 {
            top: 50%;
            // transform: translateY(-50%);
          }

          &.bar_3 {
            top: 100%;
          }
        }
      }

      &[aria-expanded="true"] {
        .bar {
          &.bar_1 {
            top: 50%;
            transform: rotate(45deg);
          }

          &.bar_2 {
            opacity: 0;
          }

          &.bar_3 {
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
          }
        }
      }
    }

    .mainMenu {
      .navbar-nav {
        .nav-item {
          .nav-link {
            font-size: $f12;
            font-weight: 700;
            color: $lightDark;
            text-transform: uppercase;
            margin: 1px;
            padding: 10px 15px;

          }

          &.active,
          &:hover {
            .nav-link {
              background: $tcolor;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.video_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
  }

  #myVideo {
    min-width: 100%;
    min-height: 100vh;
    height: auto;
    width: auto;
    max-width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
  }
}

.bannerWrap {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  height: auto;
  width: 100% !important;

  //&.banner_1 {
  //  background: url("../../assets/img/banner_img.jpg") no-repeat scroll top left / cover;
  //
  //  &:before {
  //    position: absolute;
  //    content: "";
  //    width: 100%;
  //    height: 100%;
  //    background: rgba(0, 0, 0, 0.6);
  //    top: 0;
  //    left: 0;
  //  }
  //}
  .bgShape {
    position: absolute;
    bottom: -70px;
    left: 0;
    width: 100%;
    animation: fadeOutDown 1s both;

    img {
      width: 100%;
    }
  }

  &.banner_2 {
    background: url("../../assets/img/5C2C23FE.jpg") no-repeat scroll top left / cover;
  }

  &.banner_3 {
    background: url("../../assets/img/5C2C2402.jpg") no-repeat scroll top left / cover;
  }

  &.banner_4 {
    background: url("../../assets/img/5C2C23FE.jpg") no-repeat scroll top left / cover;

    .scrollDownAnimationWrap {
      transform: rotate(180deg);
    }
  }

  .bannerInner {
    position: relative;
    z-index: 1;
    padding: 70px 0;

    .tagTop {
      position: absolute;
      top: 80px;
      left: 0;
      overflow: hidden;

      p {
        color: $white;
        display: flex;
        align-items: center;
        width: 200px;

        span {
          img {
            margin-top: 6px;
            margin-left: 10px;
          }
        }
      }
    }

    .bannerContent {
      .contentInner {
        position: relative;
        z-index: 1;

        .bannerTitle {
          font-size: $f115;
          color: $white;
          font-weight: 800;
          line-height: 90px;
          margin-bottom: 20px;
          text-transform: uppercase;

          span {
            display: block;
            overflow: hidden;
          }

          .l1 {

          }

          .l2 {
            font-size: 83px;
          }

          .l3 {
            font-size: 118px;
          }

          .l4 {
            -webkit-text-stroke: 1px #6e6e6e;
            color: transparent;
            font-size: 114px;
          }

          .l6 {
            -webkit-text-stroke: 1px #6e6e6e;
            color: transparent;
            font-size: 44px;
            line-height: 44px;
          }

          .l5 {
            color: $darkLight;
            font-weight: 800;
            font-size: 100px;
          }
        }

        .roundShapeImg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0.15;
          left: 110px;
          z-index: -1;

          img {
            max-width: 280px;
            width: 100%;
          }
        }

        .contentInnerInner {
          position: relative;

          .bannerRightSingleText {
            max-width: 310px;
            width: 100%;
            text-align: right;
            margin-bottom: 20px;
            //position: absolute;

            h5 {
              color: $white;
              margin-bottom: 10px;
              font-size: $f16;
              text-transform: uppercase;
            }

            p {
              color: $white;
              font-size: $f13;
            }
          }
        }
      }
    }
  }
}

.btnWrap {
  .btnGlob {
    font-size: $f12;
    color: $white;
    border: 1px solid $white;
    background: transparent;
    width: 190px;
    text-align: center;
    height: 42px;
    line-height: 40px;
    transition: all 0.5s;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 700;

    &.darkBtn {
      border: 1px solid $darkLight;
      color: $darkLight;

      &:hover {
        background: $darkLight;
        color: $white;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $tcolor;
      background: $white;
    }

    &.btnSolid {
      color: $tcolor;
      background: $white;

      &.darkBtn {
        border: 1px solid $white;
        color: $darkLight;

        &:hover {
          border: 1px solid $darkLight;
          background: $darkLight;
          color: $white;
        }
      }

      &:hover {
        color: $white;
        background: transparent;
      }
    }
  }
}

.roundShapeImgWrap {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: 100px;
}

.circleTextBox {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 11;
}

.circleText {
}

.circleTextWrap {
  position: relative;
  width: 80px;
  height: 80px;
  transition: all 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.circleTextWrap:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.circular-text {
  position: relative;
  color: #999;
  border-radius: 100%;
}

.pp-viewing-page1 {
  .circular-text {
    color: $white;
  }
}

.textInner {
  animation: round 30s infinite linear;
  width: 80px;
  height: 80px;
}

.circular-text span {
  position: absolute;
  transform-origin: top left;
  font-size: 8px;
  font-weight: 100;
  letter-spacing: 1px;
}

@keyframes round {
  0% {
    transform: rotate(-360deg);
  }
}

.portfolioAccordion {
  .portfolioAccordionItem {
    padding: 50px 0;

    .accordion-header {
      .accordion-button {
        padding: 0;
        border: none;
        background: transparent;
        color: $lightDark;

        &:after {
          display: none;
        }

        .btnItem {
          position: relative;
          width: max-content;

          .btnImg {
            position: absolute;
            top: 15px;
            right: -30px;
            transform: translateY(-50%);

            img {

            }
          }

          p {
            color: $lightDark;
            font-size: $f16;
            text-transform: uppercase;
          }

          h5 {
            color: $lightDark;
            font-size: $f20;
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }
    }

    .accordion-collapse {
      border: none;

      .accordion-body {
        padding: 30px;

        .itemList {
          li {
            font-size: $f16;
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.clientLogoWrap {
  .logoItem {
    //width: 140px;
    //height: 140px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    padding: 10px;
    cursor: pointer;
    pointer-events: none;

    .logoInner {
      img {

      }
    }
  }
}


.scrollDownAnimationWrap {
  background: rgba(0, 0, 0, .30);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
}

.scrollDownAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollDownAnimation span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scrollDownAnimation span:nth-child(2) {
  animation-delay: -0.2s;
}

.scrollDownAnimation span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {

  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.teamContentWrap {
  p {

  }

  h5 {

  }

  h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .contentBox {

  }

  .teamSingleItemRow {
    margin-bottom: 20px;
  }

  .temImg {
    margin-bottom: 20px;

    .imgInner {
      max-width: 200px;
      width: 100%;
      //height: 220px;
      border: 1px solid #333;

      img {
        width: 100%;
        //height: 100%;
      }
    }
  }
}

.bannerInnerClientWrap {
  .circleText {
    top: 60px;
  }

  .clientLogoWrap {
    padding-top: 100px;

    .logoItem {
      width: 100%;
      height: auto;
    }
  }
}

/* =======  animation css */

@media (min-width: 768px) {
  #section1 {
    .bannerWrap {
      .bannerInner {
        .bannerContent {
          .contentInner {
            .bannerTitle {
              .l1 {
                animation: fadeOutRight 1s both;
              }

              .l2 {
                animation: fadeOutRight 1s both;
              }

              .l3 {
                animation: fadeOutRight 1s both;
              }
            }

            .btnWrap {
              .btnGlob {
                &.btn_1 {
                  animation: fadeOutUp 1s both;
                }

                &.btn_2 {
                  animation: fadeOutUp 1s both;
                }
              }
            }
          }
        }

        .bannerRightContent {
          .contentInner {
            .contentInnerInner {
              .roundShapeImg {
                img {
                  animation: fadeOutDown 1s both;
                }
              }

              .bannerRightSingleText {
                h5 {
                  animation: fadeOutDown 1s both;
                }

                p {
                  animation: fadeOutDown 1s both;
                }
              }
            }

          }
        }
      }
    }

    &.active {
      .bannerWrap {
        .bannerInner {
          .bannerContent {
            .contentInner {
              .bannerTitle {
                .l1 {
                  animation: fadeInLeft 1s ease 1s both;
                }

                .l2 {
                  animation: fadeInLeft 1.2s ease 1.2s both;
                }

                .l3 {
                  animation: fadeInLeft 1.3s ease 1.3s both;
                }
              }

              .btnWrap {
                .btnGlob {
                  &.btn_1 {
                    animation: fadeInUp 1.5s ease 1.5s both;
                  }

                  &.btn_2 {
                    animation: fadeInUp 1.7s ease 1.7s both;
                  }
                }
              }
            }
          }

          .bannerRightContent {
            .contentInner {
              .contentInnerInner {
                .roundShapeImg {
                  img {
                    animation: tada 1.9s ease 1.5s both;
                  }
                }

                .bannerRightSingleText {
                  h5 {
                    animation: fadeInDown 1s ease 1s both;
                  }

                  p {
                    animation: fadeInDown 1.2s ease 1.2s both;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #section2 {
    .bannerWrap {
      .bannerInner {
        .bannerContent {
          .contentInner {
            .bannerTitle {
              .l4 {
                animation: fadeOutRight 1s both;
              }

              .l5 {
                animation: fadeOutRight 1s both;
              }
            }

            .btnWrap {
              .btnGlob {
                &.btn_1 {
                  animation: fadeOutUp 1s both;
                }

                &.btn_2 {
                  animation: fadeOutUp 1s both;
                }
              }
            }
          }
        }

        .bannerRightContent {
          .contentInner {
            .portfolioAccordion {
              .portfolioAccordion_1 {
                animation: fadeOutDown 1s both;
              }

              .portfolioAccordion_2 {
                animation: fadeOutDown 1s both;
              }

              .portfolioAccordion_3 {
                animation: fadeOutDown 1s both;
              }

              .portfolioAccordion_4 {
                animation: fadeOutDown 1s both;
              }
            }

          }
        }
      }
    }

    &.active {
      .bannerWrap {
        .bgShape {
          animation: fadeInUp 1s ease 1s both;
        }

        .bannerInner {
          .bannerContent {
            .contentInner {
              .bannerTitle {
                .l4 {
                  animation: fadeInLeft 1s ease 1s both;
                }

                .l5 {
                  animation: fadeInLeft 1.2s ease 1.2s both;
                }
              }

              .btnWrap {
                .btnGlob {
                  &.btn_1 {
                    animation: fadeInUp 1.5s ease 1.5s both;
                  }

                  &.btn_2 {
                    animation: fadeInUp 1.7s ease 1.7s both;
                  }
                }
              }
            }
          }

          .bannerRightContent {
            .contentInner {
              .portfolioAccordion {
                .portfolioAccordion_1 {
                  animation: fadeInDown 1s ease 1s both;
                }

                .portfolioAccordion_2 {
                  animation: fadeInDown 1.1s ease 1.1s both;
                }

                .portfolioAccordion_3 {
                  animation: fadeInDown 1.2s ease 1.2s both;
                }

                .portfolioAccordion_4 {
                  animation: fadeInDown 1.3s ease 1.3s both;
                }
              }

            }
          }
        }
      }
    }
  }

  #section3 {
    .bannerWrap {
      .bannerInner {
        .bannerContent {
          .contentInner {
            .bannerTitle {
              .l6 {
                animation: fadeOutRight 1s both;
              }

              .l5 {
                animation: fadeOutRight 1s both;
              }
            }

            .btnWrap {
              .btnGlob {
                &.btn_1 {
                  animation: fadeOutUp 1s both;
                }

                &.btn_2 {
                  animation: fadeOutUp 1s both;
                }
              }
            }
          }
        }

        .bannerRightContent {
          .contentInner {
            .clientLogoWrap {
              .logoItem_1 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_2 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_3 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_4 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_5 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_6 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_7 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_8 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_9 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_10 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_11 {
                animation: fadeOutUp 1s both;
              }

              .logoItem_12 {
                animation: fadeOutUp 1s both;
              }
            }
          }
        }
      }
    }

    &.active {
      .bannerWrap {
        .bannerInner {
          .bannerContent {
            .contentInner {
              .bannerTitle {
                .l6 {
                  animation: fadeInLeft 1s ease 1s both;
                }

                .l5 {
                  animation: fadeInLeft 1.2s ease 1.2s both;
                }
              }

              .btnWrap {
                .btnGlob {
                  &.btn_1 {
                    animation: fadeInUp 1.5s ease 1.5s both;
                  }

                  &.btn_2 {
                    animation: fadeInUp 1.7s ease 1.7s both;
                  }
                }
              }
            }
          }

          .bannerRightContent {
            .contentInner {
              .clientLogoWrap {
                .logoItem_1 {
                  animation: fadeInDown 0.5s ease 0.5s both;
                }

                .logoItem_2 {
                  animation: fadeInDown 0.6s ease 0.6s both;
                }

                .logoItem_3 {
                  animation: fadeInDown 0.7s ease 0.7s both;
                }

                .logoItem_4 {
                  animation: fadeInDown 0.8s ease 0.8s both;
                }

                .logoItem_5 {
                  animation: fadeInDown 0.9s ease 0.9s both;
                }

                .logoItem_6 {
                  animation: fadeInDown 1s ease 1s both;
                }

                .logoItem_7 {
                  animation: fadeInDown 1.1s ease 1.1s both;
                }

                .logoItem_8 {
                  animation: fadeInDown 1.2s ease 1.2s both;
                }

                .logoItem_9 {
                  animation: fadeInDown 1.3s ease 1.3s both;
                }

                .logoItem_10 {
                  animation: fadeInDown 1.4s ease 1.4s both;
                }

                .logoItem_11 {
                  animation: fadeInDown 1.5s ease 1.5s both;
                }

                .logoItem_12 {
                  animation: fadeInDown 1.6s ease 1.6s both;
                }
              }
            }
          }
        }
      }
    }
  }

  #section4 {
    .bannerWrap {
      .galleryWrap {

        .galleryItem_1 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_2 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_3 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_4 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_5 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_6 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_7 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_8 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_9 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_10 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_11 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_12 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_13 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_14 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_15 {
          animation: fadeOutUp 1s both;
        }

        .galleryItem_16 {
          animation: fadeOutUp 1s both;
        }
      }

      .bannerInner {
        .bannerContent {
          .contentInner {
            .bannerTitle {
              .l6 {
                animation: fadeOutRight 1s both;
              }

              .l5 {
                animation: fadeOutRight 1s both;
              }
            }

            .btnWrap {
              .btnGlob {
                &.btn_1 {
                  animation: fadeOutUp 1s both;
                }

                &.btn_2 {
                  animation: fadeOutUp 1s both;
                }
              }
            }
          }
        }

        .bannerRightContent {
          .contentInner {
            .teamContentWrap {
              .tTopPara {
                animation: fadeOutDown 1s both;
              }

              .TeamHeading {
                animation: fadeOutDown 1s both;
              }

              .teamRow_1 .temImg {
                animation: fadeOutDown 1s both;
              }

              .teamRow_1 .contentBox {
                animation: fadeOutDown 1s both;
              }

              .teamRow_2 .temImg {
                animation: fadeOutDown 1s both;
              }

              .teamRow_2 .contentBox {
                animation: fadeOutDown 1s both;
              }
            }

          }
        }
      }
    }

    &.active {
      .bannerWrap {
        .galleryWrap {

          .galleryItem_1 {
            animation: fadeInDown 0.5s ease 0.5s both;
          }

          .galleryItem_2 {
            animation: fadeInDown 0.6s ease 0.6s both;
          }

          .galleryItem_3 {
            animation: fadeInDown 0.7s ease 0.7s both;
          }

          .galleryItem_4 {
            animation: fadeInDown 0.8s ease 0.8s both;          }

          .galleryItem_5 {
            animation: fadeInDown 0.9s ease 0.9s both;
          }

          .galleryItem_6 {
            animation: fadeInDown 1s ease 1s both;
          }

          .galleryItem_7 {
            animation: fadeInDown 1.1s ease 1.1s both;
          }

          .galleryItem_8 {
            animation: fadeInDown 1.2s ease 1.2s both;
          }

          .galleryItem_9 {
            animation: fadeInDown 1.3s ease 1.3s both;
          }

          .galleryItem_10 {
            animation: fadeInDown 1.4s ease 1.4s both;
          }

          .galleryItem_11 {
            animation: fadeInDown 1.5s ease 1.5s both;
          }

          .galleryItem_12 {
            animation: fadeInDown 1.6s ease 1.6s both;
          }

          .galleryItem_13 {
            animation: fadeInDown 1.7s ease 1.7s both;
          }

          .galleryItem_14 {
            animation: fadeInDown 1.8s ease 1.8s both;
          }

          .galleryItem_15 {
            animation: fadeInDown 1.9s ease 1.9s both;
          }

          .galleryItem_16 {
            animation: fadeInDown 2s ease 2s both;
          }

          .galleryItem_17 {
            animation: fadeInDown 2.1s ease 2.1s both;
          }

          .galleryItem_18 {
            animation: fadeInDown 2.2s ease 2.2s both;
          }
        }
        .bannerInner {
          .bannerContent {
            .contentInner {
              .bannerTitle {
                .l6 {
                  animation: fadeInLeft 1s ease 1s both;
                }

                .l5 {
                  animation: fadeInLeft 1.2s ease 1.2s both;
                }
              }

              .btnWrap {
                .btnGlob {
                  &.btn_1 {
                    animation: fadeInUp 1.5s ease 1.5s both;
                  }

                  &.btn_2 {
                    animation: fadeInUp 1.7s ease 1.7s both;
                  }
                }
              }
            }
          }

          .bannerRightContent {
            .contentInner {
              .teamContentWrap {
                .tTopPara {
                  animation: fadeInDown .8s ease .8s both;
                }

                .TeamHeading {
                  animation: fadeInDown .9s ease .9s both;
                }

                .teamRow_1 .temImg {
                  animation: fadeInDown 1s ease 1s both;
                }

                .teamRow_1 .contentBox {
                  animation: fadeInDown 1.1s ease 1.1s both;
                }

                .teamRow_2 .temImg {
                  animation: fadeInDown 1.2s ease 1.2s both;
                }

                .teamRow_2 .contentBox {
                  animation: fadeInDown 1.3s ease 1.3s both;
                }
              }

            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #section1 {
    .bannerWrap {
      .bannerInner {
        .bannerContent {
          .contentInner {
            .bannerTitle {
              .l1 {
                animation: fadeInLeft 1s ease 1s both;
              }

              .l2 {
                animation: fadeInLeft 1.2s ease 1.2s both;
              }

              .l3 {
                animation: fadeInLeft 1.3s ease 1.3s both;
              }
            }

            .btnWrap {
              .btnGlob {
                &.btn_1 {
                  animation: fadeInUp 1.5s ease 1.5s both;
                }

                &.btn_2 {
                  animation: fadeInUp 1.7s ease 1.7s both;
                }
              }
            }
          }
        }

        .bannerRightContent {
          .contentInner {
            .contentInnerInner {
              .roundShapeImg {
                img {
                  animation: tada 1.9s ease 1.5s both;
                }
              }

              .bannerRightSingleText {
                h5 {
                  animation: fadeInDown 1s ease 1s both;
                }

                p {
                  animation: fadeInDown 1.2s ease 1.2s both;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* =======  animation css */


/* ---- grid ---- */


.serviceImgWrap {
  //-count: 4;
  //-webkit-column-count: 4;
  //column-count: 4;
}

.serviceImgWrap .singleItem .singleItemInner a {
  width: 100%;
}

.serviceImgWrap .singleItem {
  margin-bottom: 10px;
  //width: 100%;
  //padding: 5px 0;
  //display: inline-block;
}

.serviceImgWrap img {
  width: 100%;
}

.cus_mar {
  margin: 0 -5px;
}

.cus_pad {
  padding: 0 5px;
}

.teamSingleItemRow {
  width: 100%;
}

.imagelightbox-arrow {
  background: transparent !important;
  color: $dark;
}

.galleryWrap {
  .galleryTitle {
    font-size: 32px;
    color: #b6b6b6;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #b6b6b6;
  }


  .galleryItem {
    margin-bottom: 70px;

    .galleryItemInner {
      .galleryImg {
        a {
          width: 100%;
          overflow: hidden;
          border-radius: 15px;
          position: relative;

          &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.1;
            z-index: 1;
          }

          img {
            width: 100%;
            transition: all 0.5s;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}

.imagelightbox-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.imagelightbox-arrow {
  background: #666 !important;
  border-radius: 50%;
  color: #fff;
  width: 40px;
  height: 40px;
}